// SCSS specific vars
$--application-blue: #366fc9;
$--application-lightblue: #618DD5;
$--application-darktomato: #c94c36;
$--application-cyan: #36C9C2;
$--application-yellow: #C9C236;
$--application-purple: #9136C9;
$--application-darkblue: #132748;

$--card-gradient-blue: #5f6a7a;
$--card-gradient-yellow: #7a7a5f;