@import "variables";
.alert_container {
  margin-top: 5rem;
}
.alert {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 4;
  padding: 1rem;
  background-color: $--application-purple;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
.alert_danger {
  @extend .alert;
  background-color: $--application-darktomato;
}
.alert_success {
  @extend .alert;
}