.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
@media (max-width: 700px) {
  .header {
    padding: 4rem 2rem;
  }
}

.imgb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  background: url("../public/images/swCompressed.webp") no-repeat center top;
  background-size: cover;
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}

.header h1 {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2rem;
  line-height: 1;
  z-index: 1;
  text-shadow: black 1px 2px 2px;
}
@media (min-width: 1000px) {
  .header h1 {
    font-size: 8rem;
  }
}

.header .brand {
  font-size: 10rem;
  margin-top: 8rem;
  margin-bottom: 22rem;
}
@media (min-width: 1000px) {
  .header .brand {
    font-size: 12rem;
  }
}

.header_overlay {
  padding: 0 4rem;
  margin-top: -8rem;
  margin-bottom: 12rem;
}
@media (max-width: 700px) {
  .header_overlay {
    padding: 0 2rem;
  }
}

.intro {
  font-size: 2rem;
  font-weight: 300;
  text-shadow: black 1px 2px 2px;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}
@media (max-width: 700px) {
  .main {
    padding: 0 2rem;
  }
}

.btn_group {
  display: flex;
  align-items: center;
}

.register_btn {
  background: #366fc9;
  color: white;
  border-radius: 5px;
  padding: 2rem 3rem;
  font-family: "Prompt", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.register_btn:hover {
  background: #2d5da9;
}

.login_btn {
  background: #c94c36;
  color: white;
  border-radius: 5px;
  padding: 2rem 3rem;
  font-family: "Prompt", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-left: 3rem;
}
.login_btn:hover {
  background: #a9402d;
}

.features {
  display: flex;
  margin-top: 12rem;
  justify-content: center;
  align-items: center;
}
.features > div {
  display: flex;
  flex-direction: column;
}
.features > div:first-child {
  margin-right: 4rem;
}
@media (max-width: 700px) {
  .features > div:first-child {
    margin-right: 0;
  }
}
.features > div:first-child > h2 {
  font-size: 5rem;
}
.features > div:last-child {
  min-width: 50%;
  min-height: 500px;
  position: relative;
}
.features > div:last-child > img {
  object-fit: cover;
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
@media (max-width: 700px) {
  .features > div:last-child {
    margin-top: 8rem;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 825px) {
  .features > div:last-child {
    min-width: 40%;
  }
}
@media (max-width: 700px) {
  .features {
    flex-direction: column;
  }
}

.features_lower {
  margin-top: 12rem;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
}
.features_lower > h2 {
  font-size: 5rem;
}

.features_grid {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.4rem;
}
@media (min-width: 500px) {
  .features_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) {
  .features_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .features_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features_grid_card {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 2.4rem;
}
.features_grid_card > p {
  font-weight: 300;
  font-size: 1.7rem;
}

.orange {
  background: #c94c36;
}

.blue {
  background: #366fc9;
}

.purple {
  background: #9136C9;
}

.darkblue {
  background: #132748;
}

.blue_span {
  color: #618DD5;
}

.orange_span {
  color: #C9C236;
}

/*# sourceMappingURL=Home.module.css.map */
