@import "mixins";
@import "variables";
.landing_container {
  @include basicPageContainer;
  display: flex;
  flex-direction: column;
}
.grid_intro {
  padding: 0 2rem;
  margin-top: 12rem;
  margin-bottom: 12rem;
  font-size: 7rem;
  line-height: 1.1;
  z-index: 2;
  text-shadow: 2px 2px 2px #000000;
  @media (min-width: 400px) {
    font-size: 8rem;
    padding: 0 4rem;
  }
  @media (min-width: 500px) {
    font-size: 10rem;
    padding: 0 4rem;
  }
}
.landing_hero {
  position: relative;
  display: flex;
  flex-direction: column;
}
.landing_hero_bgimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  background: url("../public/images/bl_bgimg.webp") no-repeat right top;
  background-size: 50%;
  mask-image: linear-gradient(#000, rgba(0,0,0,0.2));
}
.btn_trending {
  @include basicbtn($--application-yellow, black);
  margin-left: 2rem;
  margin-bottom: 4rem;
  @media(min-width: 500px) {
    margin-left: 4rem;
  }
}
.see_more {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
  margin-bottom: 10rem;
  > a {
    font-size: 1.8rem;
    text-decoration: underline;
    margin-left: 2rem;
  }
}
.blue_span {
  @include colored_span($--application-blue);
}
.yellow_span {
  @include colored_span($--application-yellow);
}