@import "variables";
@import "mixins";

.selectors_container {
  display: flex;
  flex-direction: column;
}
.searchbar {
  padding: 1rem;
  font-size: 1.8rem;
  border: 1px solid #919191;
  border-radius: 0;
  background: #363636;
  &::placeholder {
    color: #bbb;
  }
}
.filters_container {
  display: flex;
  align-content: center;
  margin-top: 2rem;
  > div:not(:last-child) {
    margin-right: 2rem;
  }
}
.select_wrap {
  max-width: max-content;
  position: relative;
  border: 1px solid #919191;
  > select {
    padding: 1rem;
    font-size: 1.8rem;
    color: white;
    border-radius: 0;
    appearance: none;
    background: none;
    cursor: pointer;
    width: 100%;
    grid-area: select;
    margin-right: 2rem;
  }
}
.select_wrap::after {
  content: "";
  width: 1.5rem;
  height: 1rem;
  background-color: $--application-blue;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  top: 18px;
  right: 8px;
  z-index: -1;
}
.filters_btn_group {
  display: flex;
  margin-top: 2rem;
  > button:first-child {
    @include basicbtn($--application-purple, white);
    margin-right: 2rem;
    padding: 1rem 1.5rem;
  }
  > button:last-child {
    @include basicbtn($--application-darktomato, white);
    padding: 1rem 1.5rem;
  }
  > button {
    display: inline-flex;
    width: max-content;

  }
}